<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlHead(pageTitle)">
    <meta charset="utf-8"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L06WTLD73Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-L06WTLD73Y');
    </script>
    <meta name="exoclick-site-verification" content="0cef6a8bb29004ab417b58501e48f467">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <link rel="icon" href="/images/logo.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon"/>
    <link rel="Bookmark" th:href="@{/images/logo.png}" type="image/x-icon"/>
    <title th:text="|${pageTitle == null ? 'NongMo.Zone' : pageTitle}|">NongMo.Zone</title>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet'></link>
    <meta name="description"
          content="Enjoy the experience of exploring the photo galleries of the latest Asian sexy girls!"/>
    <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/css/marjoram.css"/>
</head>

<header th:fragment="htmlTitle">
    <div class="site-branding" style="margin:2% auto;">
        <h1 class="site-title"><a href="/" rel="home">NongMo.Zone</a></h1>
    </div>
    <hr id="header-border">
    <div id="menu-wrapper" class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav id="main-nav-container" class="menu-menu-f-container">
                    <ul id="main-nav" class="nav-menu ">
                        <li id="menu-item-1"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-24"><a
                                href="/category/aidol/">Aidol</a></li>
                        <li id="menu-item-2"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26"><a
                                href="/category/gravure/">Gravure</a></li>
                        <li id="menu-item-3"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-27"><a
                                href="/category/magazine/">Magazine</a></li>
                        <li id="menu-item-4"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-29"><a
                                href="/category/thailand/">Thailand</a></li>
                        <li id="menu-item-5"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25"><a
                                href="/category/chinese/">Chinese</a></li>
                        <li id="menu-item-6"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25"><a
                                href="/category/cosplay/">Cosplay</a></li>
                        <li id="menu-item-7"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25"><a
                                href="/category/korea/">Korea</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<footer th:fragment="htmlFoot">
    <nav id="footer-nav">
        <ul id="footer-menu" class="menu">
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-24"><a
                    href="/category/aidol/">Aidol</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26"><a
                    href="/category/gravure/">Gravure</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-27">
                <a href="/category/magazine/" aria-current="page">Magazine</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-29"><a
                    href="/category/thailand/">Thailand</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25"><a
                    href="/category/chinese/">Chinese</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25"><a
                    href="/category/cosplay/">Cosplay</a></li>
            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25"><a
                    href="/category/korea/">Korea</a></li>
        </ul>
    </nav>
    <p id="copyright">Copyright &copy;2021 . All rights reserved.</p>
    <script type="text/javascript" src="/js/detectmobilebrowser.js"></script>
    <script type="text/javascript" id='mystickysidebar-js-extra'>
        var mystickyside_name = {
            "mystickyside_string": ".widget-area",
            "mystickyside_content_string": ".site-content",
            "mystickyside_margin_top_string": "5",
            "mystickyside_margin_bot_string": "0",
            "mystickyside_update_sidebar_height_string": "",
            "mystickyside_min_width_string": "0",
            "device_desktop": "1",
            "device_mobile": "1"
        };
    </script>
    <script type="text/javascript" src="/js/theia-sticky-sidebar.js"></script>
    <script type="text/javascript" src="/js/superfish.js"></script>
    <script type="text/javascript" src="/js/navigation.js"></script>
</footer>
</html>