<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="htmlHead(pageTitle,googleLdJson)">
    <meta charset="utf-8"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L06WTLD73Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-L06WTLD73Y');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <link rel="icon" href="/images/logo.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon"/>
    <link rel="Bookmark" th:href="@{/images/logo.png}" type="image/x-icon"/>
    <title th:text="|${pageTitle == null ? 'NongMo.Zone' : pageTitle}|">NongMo.Zone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
          integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css"
          integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
            integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="description"
          content="Enjoy the experience of exploring the photo galleries of the latest Asian sexy girls!"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script th:if="${googleLdJson!=null}" type="application/ld+json" th:UTEXT="${googleLdJson}">
    </script>
</head>

<header th:fragment="htmlTitle">
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img src="/images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                NongMo.Zone
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" th:each="index_category : ${categorys}">
                        <a th:class="${category} != null and (${category} eq ${index_category.getName().toLowerCase()}) ? 'nav-item nav-link active' :'nav-item nav-link' "
                           th:href="|/category/${index_category.getName().toLowerCase()}/|"
                           th:text="${index_category.getName()}"
                           aria-current="page"></a>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="/search/">
                    <input class="form-control me-2" type="search" placeholder="Search &hellip;" aria-label="Search"
                           name="key">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<footer th:fragment="htmlFoot">
</footer>
</html>