<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{base :: htmlHead(pageTitle = 'NOT FOUND', googleLdJson = null)}">
</head>
<body>
<div th:if="${adOn}">
    <script async src="https://cst.cstwpush.com/static/adManager.js" data-admpid="4526"></script>
</div>
<div>
    <header th:insert="~{base :: htmlTitle}"></header>
    <div id="content" class="site-content container">
        <div class="row">
            <div id="primary" class="content-area col-lg-9">
                <main id="main" class="single1">
                    <article>
                        <header class="entry-header">
                            <div class="title-meta-wrapper"><h1 class="entry-title">NOT FOUND</h1>
                            </div>
                        </header>
                        <div>
                            <p><span>NOT FOUND</span></p>
                        </div>
                    </article>
                </main>
            </div>
            <div class="col-lg-3">
                <aside id="right-sidebar" class="widget-area">
                    <div id="wli_popular_posts" class="widget wli_popular_posts-class">
                        <h3 class="page-title">Popular Posts</h3>
                        <div class="row row-eq-height justify-content-start row-cols-1 g-4">
                            <div class="col" th:each="album : ${latestAlbum}">
                                <div class="card" style="" th:href="|/post_id/${album.getId()}/|">
                                    <img th:src="${album.getCoverUrl()}"
                                         th:title="${album.getTitle()}" alt="image cover"
                                         class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            th:data-bs-title="${album.getTitle()}"
                                            th:text="${album.getTitle()}"></h5>
                                        <p class="card-text"
                                           th:text="'Posted on ' + ${#dates.format(album.getCreatedAt(), 'yyyy-MM-dd')}"
                                        ></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="wli_random_posts" class="widget wli_popular_posts-class">
                        <h3 class="page-title">Maybe You Like Posts</h3>
                        <div class="row row-eq-height justify-content-start row-cols-1 g-4">
                            <div class="col" th:each="album : ${randomAlbum}">
                                <div class="card" style="" th:href="|/post_id/${album.getId()}/|">
                                    <img th:src="${album.getCoverUrl()}"
                                         th:title="${album.getTitle()}" alt="image cover"
                                         class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            th:data-bs-title="${album.getTitle()}"
                                            th:text="${album.getTitle()}"></h5>
                                        <p class="card-text"
                                           th:text="'Posted on ' + ${#dates.format(album.getCreatedAt(), 'yyyy-MM-dd')}"
                                        ></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <footer th:insert="~{base :: htmlFoot}" id="site-footer">
    </footer>
</div>
</body>
</html>
