<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base :: htmlHead(pageTitle = ${category == null ? 'NongMo.Zone' :'Category: ' + category.substring(0, 1).toUpperCase() + category.substring(1)})">
</head>
<body>
<div th:if="${adOn}">
    <script async src="https://cst.cstwpush.com/static/adManager.js" data-admpid="4526"></script>
</div>
<header th:include="base :: htmlTitle"></header>
<div id="content" class="site-content container">
    <div class="row">
        <div id="primary" class="content-area col-lg-9">
            <div>
                <header class="page-header" th:if="${category != null}">
                    <h3 class="page-title">Category: <span
                            th:text="${category.substring(0, 1).toUpperCase() + category.substring(1)}"></span></h3>
                </header>
                <header class="page-header" th:if="${tag != null}">
                    <h3 class="page-title">Tag: <span
                            th:text="${tag.substring(0, 1).toUpperCase() + tag.substring(1)}"></span></h3>
                </header>
                <div class="row row-eq-height justify-content-start row-cols-1 row-cols-md-3 g-4">
                    <div class="col" th:each="album : ${albumPage.getData()}">
                        <div class="card" style="" th:href="|/post_id/${album.getId()}/|">
                            <a th:href="|/post_id/${album.getId()}/|">
                                <img th:src="${album.getCoverUrl()}"
                                     th:title="${album.getTitle()}" alt="image cover"
                                     class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    th:data-bs-title="${album.getTitle()}"
                                    th:text="${album.getTitle()}"></h5>
                                <p class="card-text"
                                   th:text="'Posted on ' + ${#dates.format(album.getCreatedAt(), 'yyyy-MM-dd')}"
                                ></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-links">
                    <div th:if="${category != null}">
                        <a th:if="${albumPage.hasPre()}" th:href="|/category/${category}/page/${albumPage.getPre()}/|">
                            <button class="btn btn-outline-success">
                                Pre Page
                            </button>
                        </a>
                        <a th:if="${albumPage.hasNext()}"
                           th:href="|/category/${category}/page/${albumPage.getNext()}/|" style="float: right">
                            <button class="btn btn-outline-success">
                                Next Page
                            </button>
                        </a>
                    </div>
                    <div th:if="${tag != null}">
                        <a th:if="${albumPage.hasPre()}" th:href="|/tag/${tag}/page/${albumPage.getPre()}/|">
                            <button class="btn btn-outline-success">
                                Pre Page
                            </button>
                        </a>
                        <a th:if="${albumPage.hasNext()}"
                           th:href="|/tag/${tag}/page/${albumPage.getNext()}/|"
                           style="float: right">
                            <button class="btn btn-outline-success">
                                Next Page
                            </button>
                        </a>
                    </div>
                    <div th:if="${category == null && tag == null}">
                        <a th:if="${albumPage.hasPre()}" th:href="|/page/${albumPage.getPre()}/|">
                            <button class="btn btn-outline-success">
                                Pre Page
                            </button>
                        </a>
                        <a th:if="${albumPage.hasNext()}"
                           th:href="|/page/${albumPage.getNext()}/|"
                           style="float: right">
                            <button class="btn btn-outline-success">
                                Next Page
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <aside id="right-sidebar" class="widget-area">
                <div id="wli_popular_posts" class="widget wli_popular_posts-class">
                    <h3 class="page-title">Popular Posts</h3>
                    <div class="row row-eq-height justify-content-start row-cols-1 g-4">
                        <div class="col" th:each="album : ${latestAlbum}">
                            <div class="card" style="" th:href="|/post_id/${album.getId()}/|">
                                <a th:href="|/post_id/${album.getId()}/|">
                                    <img th:src="${album.getCoverUrl()}"
                                         th:title="${album.getTitle()}" alt="image cover"
                                         class="card-img-top">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        th:data-bs-title="${album.getTitle()}"
                                        th:text="${album.getTitle()}"></h5>
                                    <p class="card-text"
                                       th:text="'Posted on ' + ${#dates.format(album.getCreatedAt(), 'yyyy-MM-dd')}"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="wli_random_posts" class="widget wli_popular_posts-class">
                    <h3 class="page-title">Maybe You Like Posts</h3>
                    <div class="row row-eq-height justify-content-start row-cols-1 g-4">
                        <div class="col" th:each="album : ${randomAlbum}">
                            <div class="card" style="" th:href="|/post_id/${album.getId()}/|">
                                <a th:href="|/post_id/${album.getId()}/|">
                                    <img th:src="${album.getCoverUrl()}"
                                         th:title="${album.getTitle()}" alt="image cover"
                                         class="card-img-top">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        th:data-bs-title="${album.getTitle()}"
                                        th:text="${album.getTitle()}"></h5>
                                    <p class="card-text"
                                       th:text="'Posted on ' + ${#dates.format(album.getCreatedAt(), 'yyyy-MM-dd')}"
                                    ></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<footer th:include="base :: htmlFoot" id="site-footer">
</footer>
</div>
</body>
</html>
