<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{base :: htmlHead(pageTitle = ${album.getTitle()}, googleLdJson = ${googleLdJson})}">
</head>
<body>
<script>
    $.get("/view?id=" + [[${album.getId()}]], function (result) {
        console.log("view: " + result);
    });
</script>
<div th:if="${adOn}">
    <script async src="https://cst.cstwpush.com/static/adManager.js" data-admpid="4526"></script>
</div>
<div>
    <header th:insert="~{base :: htmlTitle}"></header>
    <div id="content" class="site-content container">
        <div class="row">
            <div class="col-lg-9">
                <div>
                    <h4 class="entry-title" th:text="${album.getTitle()}"></h4>
                    <div class="entry-content">
                        <div th:each="picture : ${pictureList}" class="separator" style="clear: both;">
                            <a th:href="${picture.getUrl()}"
                               style="display: block; padding: 1em 0; text-align: center; ">
                                <img style="max-width: 100%; height: auto"
                                     th:alt="|image-${picture.getPicIndex()}|"
                                     th:src="${picture.getUrl()}">
                            </a>
                        </div>
                    </div>
                    <div class="entry-footer">
                        <div class="nv-tags-list" th:if="${!tagList.isEmpty()}">
                            <h4 style="display: inline-block">Tags:</h4>
                            <a th:each="tag : ${tagList}" th:href="|/tag/${tag.getTagName()}/|">
                                <button type="button"
                                        class="btn btn-success"
                                        th:text="${tag.getTagName()}">
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <aside id="right-sidebar" class="widget-area">
                    <div id="wli_popular_posts" class="widget wli_popular_posts-class">
                        <h3 class="page-title">Popular Posts</h3>
                        <div class="row row-eq-height justify-content-start row-cols-1 g-4">
                            <div class="col" th:each="album : ${latestAlbum}">
                                <div class="card" style="" th:href="|/post_id/${album.getId()}/|">
                                    <a th:href="|/post_id/${album.getId()}/|">
                                        <img th:src="${album.getCoverUrl()}"
                                             th:title="${album.getTitle()}" alt="image cover"
                                             class="card-img-top">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            th:data-bs-title="${album.getTitle()}"
                                            th:text="${album.getTitle()}"></h5>
                                        <p class="card-text"
                                           th:text="'Posted on ' + ${#dates.format(album.getCreatedAt(), 'yyyy-MM-dd')}"
                                        ></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="wli_random_posts" class="widget wli_popular_posts-class">
                        <h3 class="page-title">Maybe You Like Posts</h3>
                        <div class="row row-eq-height justify-content-start row-cols-1 g-4">
                            <div class="col" th:each="album : ${randomAlbum}">
                                <div class="card" style="" th:href="|/post_id/${album.getId()}/|">
                                    <a th:href="|/post_id/${album.getId()}/|">
                                        <img th:src="${album.getCoverUrl()}"
                                             th:title="${album.getTitle()}" alt="image cover"
                                             class="card-img-top">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            th:data-bs-title="${album.getTitle()}"
                                            th:text="${album.getTitle()}"></h5>
                                        <p class="card-text"
                                           th:text="'Posted on ' + ${#dates.format(album.getCreatedAt(), 'yyyy-MM-dd')}"
                                        ></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <footer th:insert="~{base :: htmlFoot}" id="site-footer">
    </footer>
</div>
</body>
</html>
