<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{base :: htmlHead(pageTitle = ${'Search Result for ' + key}, googleLdJson = null)}">
</head>
<body>
<div th:if="${adOn}">
    <script async src="https://cst.cstwpush.com/static/adManager.js" data-admpid="4526"></script>
</div>
<div>
    <header th:insert="~{base :: htmlTitle}"></header>
    <div id="content" class="site-content container">
        <div class="row">
            <div class=" col-lg-12">
                <header id="page-header">
                    <h3 class="page-title">Search Results for <span
                            th:text="${key} + ' (' + ${searchResult.size()} + ')'"></span></h3>
                </header>
                <div class="row row-eq-height justify-content-start row-cols-1 row-cols-md-3 g-4">
                    <div class="col" th:each="album : ${searchResult}">
                        <div class="card" style="" th:href="|/post_id/${album.getId()}/|">
                            <a th:href="|/post_id/${album.getId()}/|">
                                <img th:src="${album.getCoverUrl()}"
                                     th:title="${album.getTitle()}" alt="image cover"
                                     class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    th:data-bs-title="${album.getTitle()}"
                                    th:text="${album.getTitle()}"></h5>
                                <p class="card-text"
                                   th:text="'Posted on ' + ${#dates.format(album.getCreatedAt(), 'yyyy-MM-dd')}"
                                ></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="~{base :: htmlFoot}" id="site-footer">
    </footer>
</div>
</body>
</html>
